.questSection {
  position: absolute;
  top: 10%;
  right: 10%;

  .questButton {
    position: relative;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-1);
    border-radius: 50%;
    background-color: #00000075;
    color: var(--gray-10);
    padding: var(--space-1);
    cursor: pointer;

    > span {
      font-size: var(--text-lg);
      font-family: var(--font-accent);
      user-select: none;
    }
  }

  .questList {
    position: absolute;
    right: 0;
    top: calc(100% + var(--space-2));
    background-color: #00000075;
    border-radius: var(--radius-5);
    padding: var(--space-5);
    width: 300px;
  }

  .questItem {
    display: flex;
    gap: var(--space-3);
    color: var(--gray-10);
    line-height: 1.4;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid var(--gray-400);
    padding-block: var(--space-4);

    > svg {
      stroke-width: 0.8;
    }

    > p {
      flex: 1;
      word-break: break-word;
      font-size: var(--text-base);
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    &:hover {
      text-decoration: line-through;
    }
  }
}
