.questSection {
  position: absolute;
  top: 10%;
  right: 10%;

  .questButton {
    position: relative;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-1);
    border-radius: 50%;
    background-color: #00000075;
    color: var(--gray-10);
    padding: var(--space-1);
    cursor: pointer;

    > span {
      font-size: var(--text-lg);
      font-family: var(--font-accent);
      user-select: none;
    }
  }

  .questList {
    position: absolute;
    right: 0;
    top: calc(100% + var(--space-2));
    background-color: #00000075;
    border-radius: var(--radius-5);
    padding: var(--space-5);
    width: 300px;

    .sinnerWrapper {
      color: var(--gray-10);
      text-align: center;
    }
  }
}
