.form {
  position: relative;
  width: 100%;
  max-width: 500px;

  .chat {
    color: #fff;
    width: 100%;
    height: 50px;
    border-radius: var(--radius-2);
    padding: var(--space-5);
    padding-right: 50px;
    border: 1px solid #fff;
    background: rgba(217, 217, 217, 0);
    box-sizing: border-box;

    &::placeholder {
      color: #fff;
    }

    &:focus {
      background: #ffffff60;
    }
  }

  .submitButton {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
  }
}
