.container {
  padding-top: 80px;
  font-family: var(--font-main);
  color: #303030;
}

.header {
  max-width: 1280px;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    font-size: var(--text-3xl);
    font-weight: 700;
  }
}
