.container {
  padding-top: 80px;
  font-family: var(--font-main);
  color: #303030;
}

.header {
  max-width: 1280px;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    font-size: var(--text-3xl);
    font-weight: 700;
  }
}

.noDiaryState {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  min-height: 50vh;

  .noDiaryIcon {
    width: 73px;
    height: 78px;
    margin-bottom: 48px;
  }

  .noResult {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    color: var(--gray-900);
    font-size: var(--text-3xl);
    font-weight: 600;
    line-height: var(--space-6);
  }
}
