

.container{
  max-width: 896px;
  margin: 100px auto;

  h3{
    color: var(--gray-900, #303030);
    font-size: var(--text-3xl);
    font-weight: 700;
    line-height: var(--space-8);
  }

}

/* 선택한 일기 영역 */
.diarySection{
  margin-bottom: 60px;

  h3{
    margin-bottom: var(--space-4);
  }

  .diaryBox{
    width: 100%;
    min-height: 160px;
    box-sizing: border-box;
    padding: 15px;
    resize: none;
    border-radius: var(--radius-2);
    border: 1px solid var(--gray-100);
    background-color: #fff;

    font-family: var(--font-main);
    color: var(--gray-700);
    font-size: var(--text-lg);
    font-weight: 400;
    line-height: var(--space-6);
  }
}

/* 감정 선택 영역 */
.emotionSection{
  margin-bottom: 60px;

  h3{
    margin-bottom: var(--space-4);
  }

  .emotionList{
    display: flex;
    gap: var(--space-3);
  }

  .subEmotionBtn{
    user-select: none;
    padding: 8px 16px;
    border: none;
    border-radius: var(--radius-6);
    background-color: var(--secondary);
    cursor: pointer;
    color: white;

    font-size: var(--text-base);
    font-weight: 500;
    line-height: var(--space-5);
  }

  .subEmotionBtn.selected{
    background-color: var(--primary);
  }
  
}

/* 감정 이유 영역 */
.reasonSection{
  margin-bottom: 60px;

  h3{
    margin-bottom: var(--space-4);
  }

  .emotionReason{
    width: 100%;
    min-height: 160px;
    box-sizing: border-box;
    padding: 15px;
    resize: none;
    border-radius: var(--radius-2);
    border: 1px solid var(--gray-100);
    background-color: #fff;

    font-family: var(--font-main);
    color: var(--gray-700);
    font-size: var(--text-lg);
    font-weight: 400;
    line-height: var(--space-6);
  }
}

/* 퀘스트 수락 여부 */
.decisionSection{
  text-align: center;

  h3{
    margin-bottom: var(--space-8);
  }
  
  .buttons{
    display: flex;
    user-select: none;
    gap: var(--space-6);
    display: flex;
    justify-content: center;
    align-items: center;

    button{
      flex: 1;
      max-width: 100px;
      padding: 12px 0px;
      border-radius: var(--radius-2);
      line-height: var(--space-6);
      font-weight: 700;
      font-size: var(--text-lg);
      cursor: pointer;
    }

    .reject{
      border: 1px solid var(--secondary);
      background-color: #fff;
      color: var(--secondary);
    }

    .accept{
      border: 1px solid var(--secondary);
      background-color: var(--secondary);
      color: #fff;
    }
  }
}

/* 완료 버튼 */
.submitSection{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button{
    /* max-width: 100px; */
    padding: 12px 32px;
    border-radius: var(--radius-2);
    line-height: var(--space-6);
    font-weight: 700;
    font-size: var(--text-lg);
    cursor: pointer;
  }

  .submit{
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: #fff;
  } 
}

/* 퀘스트 목록 영역 */
.questSection{
  margin-bottom: 60px;

  h3{
    margin-bottom: var(--space-4);
  }

  .questList{
    display: flex;
    gap: var(--space-6);
    /* flex-wrap: wrap; */
  }

  .questCard{
    display: flex;
    flex-direction: column;
    padding: var(--space-6);
    border: 1px solid var(--gray-100);
    border-radius: var(--radius-2);
    background-color: #fff;

    h4{
      margin-bottom: var(--space-2);

      color: var(--gray-900, #303030);
      font-size: var(--text-xl);
      font-weight: 700;
      line-height: var(--space-7);
    }

    p{
      margin-bottom: var(--space-4);

      color: var(--gray-700);
      font-size: var(--text-base);
      font-weight: 400;
      line-height: var(--space-5);
    }

    img{
      margin-bottom: var(--space-4);
      border-radius: var(--radius-1);
      aspect-ratio: 386 / 160;
      width: 386px;
      height: auto;
      max-width: 100%;
      object-fit: cover;
    }
  }

}

.cardButton{

  align-self: flex-end;
  max-width: 78px;
  font-size: var(--text-lg);
  font-weight: 400;
  line-height: var(--space-6);
  color: #fff;
  background-color: var(--secondary);
  border-radius: var(--radius-6);
  padding: 8px 24px;

  cursor: pointer;
}

.cardButton.selected{
  background-color: var(--primary);
}