.content {
  display: flex;
  flex-direction: column;
  margin: 0 60px;
  word-break: keep-all;
  overflow-wrap: break-word;

  .diaryImage {
    align-self: center;
    width: 100%;
    max-width: 500px;
    margin-bottom: var(--space-5);
    border-radius: var(--space-1);
  }

  .title {
    font-size: var(--text-2xl);
    font-weight: 700;
    margin-bottom: var(--space-3);
  }

  .hashtags {
    margin-bottom: var(--space-4);
    font-weight: 400;
    font-size: var(--text-lg);
  }

  .tag {
    margin-right: var(--space-1);
  }
  .contentText {
    font-size: var(--text-lg);
    font-weight: 500;
    line-height: 24px;
  }
}
