.chatSection {
  width: 500px;
  height: 650px;
  border-radius: 24px;
  background: rgba(0, 0, 0, 0.55);
  padding: var(--space-2);
  display: flex; /* 추가 */
  flex-direction: column; /* 추가 */
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: var(--space-2);
  flex-direction: column;

  .buttonWrapper {
    width: 100%;

    > button {
      text-align: start;
      color: #fff;
      cursor: pointer;
      &:hover {
        scale: 1.2;
      }
      &:active {
        scale: 0.97;
      }
    }
  }

  .dateWrapper {
    display: flex;
    align-items: center;
    width: 100%;

    .today {
      padding-inline: var(--space-2);
      color: var(--gray-400);
      font-size: var(--text-base);
      white-space: nowrap;
    }

    &::before,
    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background-color: var(--gray-400);
    }
  }
}

.chatMessage {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.chatMessage::-webkit-scrollbar {
  width: 4px;
}

.chatMessage::-webkit-scrollbar-track {
  background: transparent;
}

.chatMessage::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.chatMessage::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.emptyMessage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2);
  > span {
    color: var(--gray-400);
  }
}
