.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--space-5);

  > h1 {
    font-size: 60px;
  }
}

.contentWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-1);
}

.homeButton {
  background-color: var(--primary);
  padding: 8px 20px;
  color: var(--background);
  border-radius: var(--radius-2);
  cursor: pointer;

  &:active {
    scale: 0.97;
  }
}
